<div class="link">
    <a routerLink="/">Back to home</a>
</div>

<!-- <div class="container">
    <h6>Click on each topics to view the content</h6> -->
<!-- <h2 (click)="toggle1()"> => Ayat al-Kursi</h2>
    <div class="first" *ngIf="ayathulkursi">
        <h3>ٱللَّهُ لَآ إِلَـٰهَ إِلَّا هُوَ ٱلْحَىُّ ٱلْقَيُّومُ ۚ لَا تَأْخُذُهُۥ سِنَةٌۭ وَلَا نَوْمٌۭ ۚ لَّهُۥ مَا
            فِى ٱلسَّمَـٰوَٰتِ وَمَا فِى ٱلْأَرْضِ ۗ مَن ذَا ٱلَّذِى يَشْفَعُ عِندَهُۥٓ إِلَّا بِإِذْنِهِۦ ۚ يَعْلَمُ
            مَا بَيْنَ أَيْدِيهِمْ وَمَا خَلْفَهُمْ ۖ وَلَا يُحِيطُونَ بِشَىْءٍۢ مِّنْ عِلْمِهِۦٓ إِلَّا بِمَا شَآءَ ۚ
            وَسِعَ كُرْسِيُّهُ ٱلسَّمَـٰوَٰتِ وَٱلْأَرْضَ ۖ وَلَا يَـُٔودُهُۥ حِفْظُهُمَا ۚ وَهُوَ ٱلْعَلِىُّ ٱلْعَظِيمُ
        </h3>
        <h4>Allāhu lā ilāha illā Huwa-l-Ḥayyu-l-Qayyūm, lā ta’khudhuhū sinatuw-wa lā nawm, lahū mā fi-s-samāwāti wa mā
            fi-l-arḍ, man dhā’lladhī yashfaʿu ʿindahū illā bi-idhnih, yaʿlamu mā bayna aydīhim wa mā khalfahum, wa lā
            yuḥīṭūna bi-shay’im-min ʿilmihī illā bi-mā shā’, wasiʿa kursiyyuhu-s-samāwāti wa-l-arḍ, wa lā ya’ūduhū
            ḥifẓuhumā wa Huwa-l-ʿAlliyu-l-ʿAẓīm.</h4>
        <h5>Meaning : Allah, there is no god but He, the Ever Living, the One Who sustains and protects all that exists.
            Neither drowsiness overtakes Him nor sleep. To Him Alone belongs whatever is in the heavens and whatever is
            on the earth. Who is it that can intercede with Him except with His permission? He knows what is before them
            and what will be after them, and they encompass not a thing of His knowledge except for what He wills. His
            Kursī extends over the heavens and the earth, and their preservation tires Him not. And He is the Most High,
            the Most Great. (2:255)</h5>
    </div>

    <h2 (click)="toggle2()"> => 3 Qul Sura</h2>
    <div class="first" *ngIf="quls">
        <h3>قُلْ هُوَ اللهُ أَحَدٌ ، اَللهُ الصَّمَدُ ، لَمْ يَلِدْ وَلَمْ يُوْلَدْ ، وَلَمْ يَكُنْ لَّهُ كُفُوًا أَحَدٌ
        </h3>
        <p>(3x)</p>
        <h4>Qul Huwa-llāhu Aḥad. Allāhu-ṣ-Ṣamad. Lam yalid wa lam yūlad. Wa lam yakul-lahū kufuwan aḥad.</h4>
        <h5>Meaning : Say, He is Allah, the One, the Self-Sufficient Master, Who has not given birth and was not born,
            and to Whom no one is equal. (112)</h5>
        <h3>قُلْ أَعُوْذُ بِرَبِّ الْفَلَقِ ، مِنْ شَرِّ مَا خَلَقَ ، وَمِنْ شَرِّ غَاسِقٍ إِذَا وَقَبَ ، وَمِنْ شَرِّ
            النَّفَّاثَاتِ فِي الْعُقَدِ ، وَمِنْ شَرِّ حَاسِدٍ إِذَا حَسَدَ</h3>
        <p>(3x)</p>
        <h4>Qul aʿūdhu bi-Rabbi-l-falaq. Min sharri mā khalaq. Wa min sharri ghāsiqin idhā waqab. Wa min
            sharri-n-naffāthāti fi-l-ʿuqad. Wa min sharri ḥāsidin idhā ḥasad</h4>
        <h5>Meaning : Say, I seek protection of the Lord of the daybreak, from the evil of what He has created, and from
            the evil of the darkening night when it settles, and from the evil of the blowers in knots, and from the
            evil of the envier when he envies. (113)</h5>
        <h3>
            قُلْ أَعُوْذُ بِرَبِّ النَّاسِ ، مَلِكِ النَّاسِ ، إِلٰهِ النَّاسِ ، مِنْ شَرِّ الْوَسْوَاسِ الْخَنَّاسِ ،
            اَلَّذِيْ يُوَسْوِسُ فِيْ صُدُوْرِ النَّاسِ مِنَ الْجِنَّةِ وَالنَّاسِ
        </h3>
        <p>(3x)</p>
        <h4>Qul aʿūdhu bi-Rabbi-n-nās. Maliki-n-nās. Ilāh-hin-nās. Min sharri-l-waswāsi-l-khannās. Al-ladhī yuwaswisu fī
            ṣudūri-n-nās. Mina-l-jinnati wa-n-nās.</h4>
        <h5>Meaning : Say, I seek protection of the Lord of mankind, the King of mankind, the God of mankind, from the
            evil of the whisperer who withdraws, who whispers in the hearts of mankind, whether they be Jinn or people.
            (114)</h5>
    </div>
    <h2 (click)="toggle3()"> => Sayyid al-Istighfar</h2>
    <div class="first" *ngIf="Istighfar">
        <h3>اَللّٰهُمَّ أَنْتَ رَبِّيْ لَا إِلٰهَ إِلَّا أَنْتَ ، خَلَقْتَنِيْ وَأَنَا عَبْدُكَ ، وَأَنَا عَلَىٰ
            عَهْدِكَ وَوَعْدِكَ مَا اسْتَطَعْتُ ، أَعُوْذُ بِكَ مِنْ شَرِّ مَا صَنَعْتُ ، أَبُوْءُ لَكَ بِنِعْمَتِكَ
            عَلَيَّ وَأَبُوْءُ بِذَنْبِيْ ، فَاغْفِرْ لِيْ فَإِنَّهُ لَا يَغْفِرُ الذُّنُوْبَ إِلَّا أَنْتَ</h3>
        <h4>
            Allāhumma Anta Rabbī, lā ilāha illā Ant, khalaqtanī wa ana ʿabduk, wa ana ʿalā ʿahdika wa waʿdika
            mā’staṭaʿt, aʿūdhu bika min sharri mā ṣanaʿt, abū’u laka bi niʿmatika ʿalayya wa abū’u laka bidhambī
            fa-ghfir lī fa-innahū lā yaghfiru-dh-dhunūba illā Ant.
        </h4>
        <h5>
            Meaning : O Allah, You are my Lord. There is no god except You. You have created me, and I am Your slave,
            and I am under Your covenant and pledge (to fulfil it) to the best of my ability. I seek Your protection
            from the evil that I have done. I acknowledge the favors that You have bestowed upon me, and I admit my
            sins. Forgive me, for none forgives sins but You.
        </h5>
    </div>
    <h2 (click)="toggle4()"> => For good health and protection</h2>
    <div class="first" *ngIf="goodHealth">
        <h3>اَللّٰهُمَّ عَافِنِيْ فِيْ بَدَنِيْ ، اَللّٰهُمَّ عَافِنِيْ فِيْ سَمْعِيْ ، اَللّٰهُمَّ عَافِنِيْ فِيْ
            بَصَرِيْ ، لَا إِلٰهَ إِلَّا أَنْتَ ، اَللّٰهُمَّ إِنِّيْ أَعُوْذُ بِكَ مِنَ الْكُفْرِ وَالْفَقْرِ،
            وأَعُوْذُ بِكَ مِنْ عَذَابِ الْقَبْرِ، لَا إِلٰهَ إِلَّا أَنْت</h3>
        <p>(3x)</p>
        <h4>
            Allāhumma ʿāfinī fī badanī, Allāhumma ʿāfinī fī samʿī, Allāhumma ʿāfinī fī baṣarī, lā ilāha illā Ant,
            Allāhumma innī aʿūdhu bika mina-l-kufri wa-l-faqr, wa aʿūdhu bika min ʿadhābi-l-qabr, lā ilāha illā Ant.
        </h4>
        <h5>
            Meaning : O Allah, grant me well-being in my body. O Allah, grant me well-being in my hearing. O Allah,
            grant me
            well-being in my sight. There is no god but You. O Allah, I seek Your protection from disbelief and poverty
            and I seek Your protection from the punishment of the grave. There is no god but You.
        </h5>
    </div>
    <h2 (click)="toggle5()"> => For good day</h2>
    <div class="first" *ngIf="goodDay">
        <h3>أَصْبَحْنَا وَأَصْبَحَ الْمُلْكُ لِلهِ وَالْحَمْدُ لِلهِ ، لَا إِلٰهَ إِلَّا اللهُ وَحْدَهُ لَا شَرِيْكَ
            لَهُ
            ، لَهُ الْمُلْكُ وَلَهُ الْحَمْدُ ، وَهُوَ عَلَىٰ كُلِّ شَيْءٍ قَدِيْرٌ ، رَبِّ أَسْأَلُكَ خَيْرَ مَا فِيْ
            هٰذَا الْيَوْمِ وَخَيْرَ مَا بَعْدَهُ ، وَأَعُوْذُ بِكَ مِنْ شَرِّ مَا فِيْ هٰذَا الْيَوْمِ وَشَرِّ مَا
            بَعْدَهُ ، رَبِّ أَعُوْذُ بِكَ مِنَ الْكَسَلِ وَسُوْءِ الْكِبَرِ ، رَبِّ أَعُوْذُ بِكَ مِنْ عَذَابٍ فِي
            النَّارِ وَعَذَابٍ فِي الْقَبْرِ</h3>
        <h4>
            Aṣbaḥnā wa aṣbaḥa-l-mulku li-llāh, wa-l-ḥamdu li-llāh, lā ilāha illa-llāhu waḥdahū lā sharīka lah,
            lahu-l-mulku wa lahu-l-ḥamd, wa huwa ʿalā kulli shay’in Qadīr, Rabbi as’aluka khayra mā fī hādha-l-yawmi wa
            khayra mā baʿdah, wa aʿūdhu bika min sharri mā fī hādha-l-yawmi wa sharri mā baʿdah. Rabbi aʿūdhu bika
            mina-l-kasali wa sū’i-l-kibar, Rabbi aʿūdhu bika min ʿadhābin fi-n-nāri wa ʿadhābin fi-l-qabr.
        </h4>
        <h5>
            Meaning : We have entered the morning and at this very time the whole kingdom belongs to Allah. All praise
            is due to Allah. There is no god but Allah, the One; He has no partner with Him. The entire kingdom belongs
            solely to Him, to Him is all praise due, and He is All-Powerful over everything. My Lord, I ask You for the
            good that is in this day and the good that follows it, and I seek Your protection from the evil that is in
            this day and from the evil that follows it. My Lord, I seek Your protection from laziness and the misery of
            old age. My Lord, I seek Your protection from the torment of the Hell-fire and the punishment of the grave.
        </h5>
    </div>
    <h2 (click)="toggle6()"> => Protect yourself from Anxiety, laziness, etc.</h2>
    <div class="first" *ngIf="anxiety">
        <h3>اَللّٰهُمَّ إِنِّيْ أَعُوْذُ بِكَ مِنَ الْهَمِّ وَالْحَزَنِ ، وَأَعُوْذُ بِكَ مِنَ الْعَجْزِ وَالْكَسَلِ،
            وَأَعُوْذُ بِكَ مِنَ الْجُبْنِ وَالْبُخْلِ ، وَأَعُوْذُ بِكَ مِنْ غَلَبَةِ الدَّيْنِ وَقَهْرِ الرِّجَالِ
        </h3>
        <h4>
            Allāhumma innī aʿūdhu bika min-l-hammi wa-l-ḥazan, wa aʿūdhu bika min-l-ʿajzi wa-l-kasal, wa aʿūdhu bika
            min-l-jubni wa-l-bukhl, wa aʿūdhu bika min ghalabati-d-dayni wa qahri-r-rijāl.
        </h4>
        <h5>
            Meaning : O Allah, I seek Your protection from anxiety and grief. I seek Your protection from inability and laziness.
            I seek Your protection from cowardice and miserliness and I seek Your protection from being overcome by debt
            and being overpowered by men.
        </h5>
    </div>
    <h2 (click)="toggle7()"> => Ask Allah to bless your day</h2>
    <div class="first" *ngIf="blessDay">
        <h3>أَصْبَحْنَا وَأَصْبَحَ الْمُلْكُ للهِ رَبِّ الْعَالَمِيْنَ ، اَللّٰهُمَّ إِنِّيْ أَسْأَلُكَ خَيْرَ هٰذَا
            الْيَوْمِ ، فَتْحَهُ وَنَصْرَهُ وَنُوْرَهُ وَبَرَكَتَهُ وَهُدَاهُ وَأَعُوْذُبِكَ مِنْ شَرِّ مَا فِيْهِ
            وَشَرِّ مَا بَعْدَهُ</h3>
        <h4>
            Aṣbaḥnā wa aṣbaḥa-l-mulku li-llāhi Rabbi-l-ʿālamīn, Allāhumma innī as’aluka khayra hādha-l-yawm, fatḥahū wa
            naṣrahū wa nūrahū wa barakatahū wa hudāhū, wa aʿūdhu bika min sharri mā fīhi wa sharri mā baʿdah.
        </h4>
        <h5>
            Meaning : We have entered the morning and at this very time the whole kingdom belongs to Allah, Lord of the Worlds. O
            Allah, I ask You for the goodness of this day: its victory, its help, its light, and its blessings and
            guidance. I seek Your protection from the evil that is in it and from the evil that follows it.
        </h5>
    </div>


    <h2 (click)="toggle8()"> => Ask Allah to bless your Evening</h2>
    <div class="first" *ngIf="evening">
        <h3>أَمْسَيْنَا وَأَمْسَى الْمُلْكُ للهِ رَبِّ الْعَالَمِيْنَ ، اَللّٰهُمَّ إِنِّيْ أَسْأَلُكَ خَيْرَ هـٰذِهِ
            اللَّيْلَةِ ، فَتْحَهَا وَنَصْرَهَا وَنُوْرَهـَا وَبَرَكَتَهَا وَهُدَاهـَا وَأَعُوْذُ بِكَ مِنْ شَرِّ مَا
            فِيْهَا وَشَرِّ مَا بَعْدَهَا</h3>
        <h4>
            Amsaynā wa amsa-l-mulku li-llāhi Rabbi-l-ʿālamīn, Allāhumma innī as’aluka khayra hādhihi-l-laylah, fatḥahā
            wa naṣrahā wa nūrahā wa barakatahā wa hudāhā, wa aʿūdhu bika min sharri mā fīhā wa sharri mā baʿdahā.
        </h4>
        <h5>
            Meaning : We have entered the evening and at this very time the whole kingdom belongs to Allah, Lord of the Worlds. O
            Allah, I ask You for the goodness of this day/night: its victory, its help, its light, and its blessings and
            guidance. I seek Your protection from the evil that is in it and from the evil that follows it. (Abū Dāwūd)
        </h5>
    </div>
    <h2 (click)="toggle9()"> => Upon entering the Morning and Evening</h2>
    <div class="first" *ngIf="morEve">
        <h3>اَللّٰهُمَّ بِكَ أَمْسَيْنَا وَبِكَ أَصْبَحْنَا وَبِكَ نَحْيَا وَبِكَ نَمُوْتُ وَإِلَيْكَ الْمَصِيْرُ</h3>
        <h4>
            Allāhumma bika amsaynā wa bika aṣbaḥnā wa bika naḥyā wa bika namūtu wa ilayka-l-maṣīr.
        </h4>
        <h5>
            Meaning : O Allah, by You we have entered the evening and by You we enter upon the morning. By You, we live and we
            die, and to You is the resurrection/return. (Tirmidhī)
        </h5>
    </div>
    <h2 (click)="toggle10()"> => Allah will suffice you in everything</h2>
    <div class="first" *ngIf="suffice">
        <h3>حَسْبِيَ اللهُ لَا إِلٰهَ إِلَّا هُوَ ، عَلَيْهِ تَوَكَّلْتُ ، وَهُوَ رَبُّ الْعَرْشِ الْعَظِيْمِ</h3>
        <p>(7x)</p>
        <h4>
            Ḥasbiya-Allāhu lā ilāha illā Hu, ʿalayhi tawakkaltu, wa Huwa Rabbu-l-ʿArshi-l-ʿaẓīm.
        </h4>
        <h5>
            Meaning : Allah is sufficient for me. There is no god but Him. I have placed my trust in Him only and He is the Lord
            of the Magnificent Throne.
        </h5>
    </div> -->

<!-- <div *ngFor="let arr of daily">

        <button class="accordion active">{{arr.topic}}</button>
        <div class="panel">
            <h3>{{arr.content1}}</h3>
            <h4>{{arr.content2}}</h4>
            <h5>{{arr.content3}}</h5>
        </div>
    </div> -->

<div class="container">
    <h5>Click each section to view the details!</h5>
    <div class="section-container" *ngFor="let detail of daily">
        <div class="section" (click)="onToggle(detail.id)">
            <h3>{{detail.topic}}</h3>
            <i class={{icon[detail.id]}}></i>
        </div>
        <div class="section-block" *ngIf="toggle[detail.id]">
            <p>{{detail.content1}}</p>
            <p>{{detail.content2}}</p>
            <p>{{detail.content3}}</p>
        </div>
    </div>
</div>