<div>

<div class="header">
<h2>Daily Dhikr</h2>
</div>

<div class="mainframe">

<div class="container">
    <div>
        <h3>Allah tells us in the Quran:</h3>
        <p>“O you who believe! Remember Allah with much remembrance.” (33:41)</p>
        <p>“Then remember Me, I will remember you.”(2:152)</p>
        <p>Click on each section to start the dhikr !!</p>
    </div>
    <button [routerLink]="['/subahanallah']">Third Kalima</button>
   
    <button [routerLink]="['/alhamdhulillah']">Salawat</button>
    
    <button [routerLink]="['/allahuakbar']">Istighfar</button>

    <button [routerLink]="['/otherDikhr']">Other Dhikrs</button>



</div>
</div>
</div>